/bibliography.bibtex
/main.aux
/main.bbl
/main.bcf
/main.blg
/main.fdb_latexmk
/main.fls
/main.log
/main.nav
/main.out
/main.pptx
/main.run.xml
/main.snm
/main.synctex.gz
/main.tex
/main.toc
/mef_-_final_logo.png
/mef_-_final_logocropped.png
/settings.tex
/sigmaprot.tex
/uwcolors.tex
/uwlogo.jpg
/uwlogocropped.jpg
/Waterloo_Mathematics_Logo_horiz_rgb.jpg